.center-contact 
{
    text-align: center;
    overflow: hidden;
}

.center-contact img
{
    width: 50%
}

.im
{
    padding-top: 25px;
    color: #727272;
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 25px;
}

.my-contact
{
    font-size: 35px;
    margin-top: 25px;
}

.telegram
{
    color: #00d0ff;
}

.vk
{
    color: #2370bf;
}

.contact-banner-left
{
    position: absolute;
    bottom: 0;
    bottom: -47px;
}

.contact-baner-right 
{
    position: absolute;
    bottom: 0;
    right: 0;
    bottom: -47px;
}

.github {
    color: black;
}

.social-icon
{
    text-decoration: none;
}